<h2><%=shoe.color%>  <%= shoe.type%>
</h2>

<p>A dapper choice for both formal events and working days, these shoes boast exquisite craftsmanship in smooth leather accented with eye-catching punched detail. A timeless investment for your shoe collection.
</p>
<p>**Insert Image here**</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
S$<%= shoe.price%>
</div>
<br>
<br>

<%# <button type="button"><a href ='/main/transaction'>Buy it Now </a></button>%>

<a href="/transaction/index" class="btn btn-default">Go to Google</a>

<br>
<br>
<br>
<br>
