
<body>
<h3>Welcome to Fitt Co.</h3>

<a href = '../main/'>Click here</a> to begin browsing.


<br>
<br>
<br>
<br>
<br>
<br>


<% if(message.length > 0) { %>
  <h3>Error found.</h3>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>

<a href="/logout">Logout</a>
</body>
