
<body>
<h1>Heyow Logged in User</h1>
HELLO

<% if(message.length > 0) { %>
  <h3>Error found.</h3>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>

<a href="/logout">Logout</a>
</body>
