
<div class="login-signup-wrapper">

<h3> Thank you for your purchase </h3>

<br>


<p> Our customer service representative will contact you within 24 hours to process this transaction. </p>
<br>
<br>
<br>

</div>
